<div class="container form">
  <form novalidate (ngSubmit)="onSubmit(f); f.controls['address'].reset()" #f="ngForm">
    <div class="form-group">
      <label for="address">Address: </label>
      <input type="text" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="onChange($event)" class="form-control" name="address" ngModel required>
    </div>
    <div class="form-group">
      <label for="distance">Distance (miles): </label>
      <input type="number" min="0.1" max="10.00" step="0.1" class="form-control" name="distance"  [(ngModel)]="search.distance" required>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!f.form.valid">Submit</button>
  </form>
</div>
<div class="container results">
  <div style="text-align:center">
  {{Error}}
  Results: {{WiFiList?.length || '0'}} locations
  </div>
</div>
<agm-map #gm [zoom]="14" [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let WiFi of WiFiList" [latitude]="WiFi.coordinates.lat" [longitude]="WiFi.coordinates.lon" (mouseOver)="onMouseOver(infoWindow,gm)">
    <agm-info-window [disableAutoPan]="false" #infoWindow>
      <div>
        {{WiFi.address}}
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>
